img {
  max-width: 100%;
  height: auto;

  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6  {
    margin-top: 0;
  }

  & + h1 {
    margin-bottom: 2rem;
  }
}

hr {
  width: 100%;
  margin: 2rem 0;
  border: none;
  border-bottom: 1px dashed var(--lightGray);
}

nav .active--exact {
  border-bottom: 1px solid var(--yellow);
  font-weight: bold;
}

.header,
.footer {
  padding: 1.5rem 1rem;

  @media (min-width: 768px){
    padding: 1.5rem 2rem;
  }

  @media (min-width: 1024px){
    padding: 1.5rem 4rem;
  }

  @media (min-width: 1200px){
    padding: 1.5rem 6rem;
  }
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

//Overrides Gutenberg's background color picker
.has-background {
  $lightBlue: var(--lightBlue);
  padding: 1rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  background: rgba(123, 167, 188, .1)!important;
}

#dark-mode-toggle,
#motion-toggle {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  height: calc(2rem + .2rem);
  width: calc(2rem + .2rem);
  overflow: hidden;
  padding: 0;
  border-radius: 2rem;
  border: 2px solid var(--darkGray);
  background: rgba(255, 255, 255, .2);
  z-index: 10;
  opacity: .3;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
    background: var(--paper);
  }
}
