nav {
  text-align: right;

  a {
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
		margin: 0 .5rem;

		span {
			display: inline-block;
			border-bottom: .1em solid transparent;
		}

    &:hover {
			span {
				border-bottom-color: var(--yellow);
			}
		}
	}


	&.nav__link {
		margin-left: 1em;

		&.active--exact span {
			font-weight: bold;
			border-bottom-color: var(--yellow);
		}
	}

}

