$narrow: 768px;
$medium: 1024px;
$wide: 1200px;

:root {
  --white: #ffffff;
  --black: #101820;

  --yellow: #ffd100;
  --orange: #ff6a13;
  --red: #e4002b;
  --lightGray: #a7a8aa;
  --midGray: #888b8d;
  --darkGray: #53565a;
  --darkerGray: #341F23;
  --lightBlue: #7ba7bc;
  --darkBlue: #34657f;

  --ink: var(--darkGray);
  --paper: var(--white);
  --header-color: var(--darkGray);
  --accent-color: var(--darkBlue);
  --link-color: var(--darkBlue);
  --highlight-color: var(--darkGray);

  --column-width: 12vw;
  --max-width: 32rem;
  --margin: 1rem;

  background: var(--paper);

	@media (min-width: 768px){
    --margin: 2rem;
  }

	@media (min-width: 1024px){
    --margin: 4rem;
  }

	@media (min-width: 1200px){
    --margin: 6rem;
	}
  @media (min-width: 1400px){
    --margin: 25vw;
  }
}
