$narrow: 768px;
$medium: 1024px;
$wide: 1200px;

:root {
  --white: #ffffff;
  --black: #101820;
  --yellow: #ffd100;
  --orange: #ff6a13;
  --lightGray: #a7a8aa;
  --midGray: #888b8d;
  --darkGray: #53565a;
  --lightBlue: #7ba7bc;
  --darkBlue: #34657f;

  --ink: var(--black);
  --paper: var(--white);
  --heading-color: var(--darkGray);
  --link-color: var(--darkBlue);

  --column-width: 12vw;
  --max-width: 32rem;

  background: var(--paper);
}
