@font-face {
  font-family: 'Source Serif Variable';
  font-weight: 1 999;
  src: url('/source-serif-variable/SourceSerifVariable-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif VariableIt';
  font-weight: 1 999;
  src: url('/source-serif-variable/SourceSerifVariable-Italic.ttf') format('truetype');
}
